<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Admin login</title>
  </head>
  <body>
    <div class="w3-display-container w3-light-grey" style="height:100%; width:100%">
      <div class="w3-display-middle">
        <header class="w3-container w3-blue w3-center">
          <h1> Login </h1>
        </header>
        <div class="w3-card-2 w3-center" style="width:300px;">
          <form action="/login" method="post" class="w3-container">
            <input class="w3-input" type="password" name="password" placeholder="Password" required>
            <input type="submit" class="w3-btn w3-blue" value="Submit" name="submit">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
